<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button class="app-menu-button">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <h1 style="margin-left:0.5rem">
    <span>Bedarfsermittlung</span>
  </h1>
  <mat-icon [class]="'app-title-icon'" style="margin-left:0.5rem">spa</mat-icon>
  <span class="menu-spacer"></span>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>

      <div mat-subheader>
        <span><mat-icon inline>picture_in_picture_alt</mat-icon></span> Tables
      </div>
      <mat-list-item routerLink="/app/BedarfsermittlungAuswertungen/1">
        <span><mat-icon inline>add_box</mat-icon></span> Auswertung
      </mat-list-item>
      <mat-list-item routerLink="/app/TabulatorTest01">
        <span><mat-icon inline>add_box</mat-icon></span> Test01
      </mat-list-item>
      <mat-list-item routerLink="/app/test02">
        <span><mat-icon inline>list_alt</mat-icon></span> Test02
      </mat-list-item>

      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height:88vh">
      <div class="app-content">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
